

footer {
  display: flex;
  background-color: #111;

  width: 100%;
  min-height: 2dvh;
  padding: 1rem 4rem;

  align-items: center;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra ligera para darle profundidad */
}
