
<form action="" class="form">

  <div>
    <label for="nombreImput"> Nombre del Evento </label>
    <input type="date" name="nombreImput" id="nombreImput" >
  </div>

  <div>
    <label for="fechaInput"> Fecha </label>
    <input type="text" name="fechaInput" id="fechaInput" placeholder="dd/mm/yy">
  </div>

  <div>
    <label for="categoriaInput"> Categoria </label>
    <select name="categoriaInput" id="categoriaInput">
      <option disabled selected> Seleccione una categoría </option>
      <option value="musica"> Música </option>
      <option value="arte"> Arte </option>
      <option value="deporte"> Deporte </option>
    </select>
  </div>

  <div class="desc">
    <label for=""> Descripción </label>
    <textarea name="descInput" id="descInput"></textarea>
  </div>

  <div class="btn-container">
    <button class="btn" type="submit">Guardar Evento</button>
  </div>


</form>
